

.links{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logout{
    padding: 10px;
    font-weight: bold;
    background-color: white;
    color: #0d0c22;
    cursor: pointer;
    margin-left: 20px;
    border: none;
}

.mobileLinks{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:calc(100vh - 140px);
    width: 40%;
    top: 100px;
    gap: 20px;
    right:0;
    background-color: rebeccapurple;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
    
}

.menuBtn{
    display: none;
    padding:10px 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
@media (max-width:768px) {
    .links{
        display: none;
    }
    .menuBtn{
        display: block;
        padding:10px 10px;
        border: none;
        font-weight: bold;
    }
    
}