
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.wrapper{
  width: 500px;
  background-color: var(--bgsoft);
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  border-radius: 5px;
}
.GithubBtn{
  padding: 15px;
  cursor: pointer;
  background-color: white;
  color: rgb(0, 0, 0);
  font-weight:500;
  font-size: 16px;
  border: none;

  
}
.GithubBtn:hover{
  background-color: black;
  color: white;
}
